@font-face {
  font-family: 'cwaf_iconfont';
  src:  url('fonts/cwaf_iconfont.eot?ww03sm');
  src:  url('fonts/cwaf_iconfont.eot?ww03sm#iefix') format('embedded-opentype'),
    url('fonts/cwaf_iconfont.ttf?ww03sm') format('truetype'),
    url('fonts/cwaf_iconfont.woff?ww03sm') format('woff'),
    url('fonts/cwaf_iconfont.svg?ww03sm#cwaf_iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cwaf_iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e900";
}
.icon-info:before {
  content: "\e901";
}
.icon-login:before {
  content: "\e902";
}
.icon-map_pin:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
