h1{
  color:blue;
  font-size: 30px;
}
p{
  font-size: 16px;
}
h2{
  margin: 0;
  border-left: 5px solid red;
  border-bottom: 5px solid red;
}


li{
  font-family: verdana;
  font-size: 18px;
  line-height: 2.0;
  text-align: left;
}
a{
  font-size:16px;
  color: red;
}
.style1{
  text-decoration: line-through;;
}

img{
  border:solid gray;
}
img:hover{
  border:solid pink;
}
