body {
  font-family: "Microsoft JhengHei UI","Microsoft JhengHei","Apple LiGothic Medium","Segoe UI",
    "Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue",
    "BBAlpha Sans","S60 Sans",Arial,sans-serif;font-family: Microsoft JhengHei, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5; }

a:hover {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.img-fluid {
  max-width: 100%;
  height: auto; }

/* .img-responsive center-block{
  max-width: 100%;
  height: auto;
  } */

.container:before {
  display: none; }

.container:after {
  display: none; }

header .container {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px; }

header .navbar-toggler {
  width: 44px;
  height: 34px;
  border-radius: 5px;
  border: none;
  background-color: #707070; }
  header .navbar-toggler span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin: auto; }
    header .navbar-toggler span:first-child {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px); }
    header .navbar-toggler span:last-child {
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px); }

header .logo {
  width: 160px; }

header .login {
  padding: 8px 10px;
  border: 1px solid #fff;
  background-color:white;
  opacity:0.8;
  border-radius: 5px;
  color: rgb(0, 60, 84);
  /* color: #a2a2a2; */
  -webkit-transition: all 0.3s;
  /* -o-transition: all 0.3s; */
  transition: all 0.3s; }
  header .login:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent; }

  /* header .login:active {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent; }

  header .login:focus {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent; } */

header .guid {
  display: none; }
  header .guid a {
    padding: 0 20px;
    color:rgb(255,255,255);
    font-size: 16px;
    letter-spacing: 0.64px;; }

@media (min-width: 992px) {
  header .navbar-toggler {
    display: none; }
  header .login {
    display: none; }
  header .guid {
    display: block; } }

.banner {
  position: relative;
  top: -66px;
  z-index: 1;
  height: 400px;
  background-image: url("../images/index_layer.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff; }
  .banner .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .banner h1 {
    position: relative;
    margin: 0 0 3px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 34px;
    font-weight: 700; }

@media (min-width: 992px) {
  .banner {
    color: #fff;}
  .banner h1{
    font-size: 48px;
    letter-spacing: 3.6px;
    }
  .banner span{
    font-size: 18px;
    letter-spacing: 0.9px;
    }
  }

.menu {
  position: absolute;
  top: 66px;
  z-index: 10;
  background-color: #707070;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); }
  .menu.menu-active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .menu .container {
    padding: 0px; }
  .menu li {
    margin: 20px 0; }
  .menu a {
    display: block;
    padding: 0 100px 0 20px;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .menu a:hover {
      background-color: red; }

@media (min-width: 992px) {
  .menu {
    position: relative;
    top: 0;
    background-color: transparent;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
    .menu .container {
      padding: 0 15px; }
    .menu .topmenu {
      position: relative;
      top: -116px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: #fff;
      padding: 34px 42px;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      border-radius: 5px;
      -webkit-box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6);
      box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.6); }
    .menu li {
      margin: 0; }
      .menu li:first-child {
        display: none; }
    .menu a {
      display: block;
      padding: 0;
      color: #366377;
      font-size: 18px;
      letter-spacing: 0.72px;
      font-weight: 700;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
      .menu a:hover {
        background-color: transparent;
        color: rgba(54, 99, 119, 0.6); } }
  main{
    position: relative;
    z-index: 13;
  }

.confer-section h2 {
  position: relative;
  margin: 0 0 30px 0;
  color: rgb(0, 60, 84);
  letter-spacing: 1.8px;
  font-weight: 700;
  font-size: 36px;
}

  .confer-section h2:after{
    position: absolute;
    content: '';
    left: 50%;
    top: calc(100% + 20px);
    transform: translateX(-50%);
    width: 53px;
    height: 2px;
    background-color: rgb(153, 51, 0);
  }

.confer-section .confer-info {
  height: 300px;
  padding: 30px 42px 0 42px;
  border-left: 1px solid rgb(159, 162, 163);
  border-right: 1px solid rgb(159, 162, 163); }
  .confer-section .confer-info.confer-organizer {
    border-right: 1px solid rgb(159, 162, 163); }

.confer-section .section {
  margin-bottom: 36px; }
  .confer-section .section.section-arg {
    margin-bottom: 0px; }
  .confer-section .section h3 {
    margin: 0 0 20px 0;
    font-weight: 700;
    color: rgb(77, 81, 82);
    letter-spacing: 1.3px;
    font-size: 26px;
  }
  .confer-section .section div{
    font-size: 20px;
    letter-spacing: 1.05px;
  }
  .confer-section .section span{
    font-size: 20px;
    letter-spacing: 1.05px;
  }

  .confer-section .section ul {
    padding: 0;
    list-style: none; }
  .confer-section .section li {
    font-size:17px;
    margin-bottom: 5px; }

@media (min-width: 992px) {
  .confer-section .confer-info {
    height: 100%;
    border-right: 1px solid transparent;
  }
}

/* @media (min-width: 992px) {
  .post{
    max-width: 100%;
    height:auto;
  }
} */

  .timecourse {
    position: relative;
    padding: 100px 0;
    margin: 60px 0;
    /* background-image: url('../images/timeline_bg1.png');
    background-size: cover;
    background-repeat: no-repeat; */
  }
  .timecourse-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .timecourse .container{
    width: 320px;
  }

  .timecourse .title {
  position: relative;
  margin-bottom: 70px;
  font-size: 22px;
  letter-spacing: 1.8px;
  text-align: center;
  font-weight: 700;
  color:rgb(0, 60, 84);
  }
  .timecourse .title:after {
  position: absolute;
  content: '';
  left: 50%;
  top: calc(100% + 20px);
  transform: translateX(-50%);
  width: 53px;
  height: 2px;
  background-color: rgb(153, 51, 0);
  }
.timecourse__list {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  }
  .timecourse__list:before {
  position: absolute;
  left: 39%;
  transform: translateX(-50%);
  content: '';
  width: 1px;
  height: 100%;
  background-color: #b3b7b9;
  }
  .timecourse__list .section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 0 10px 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .timecourse__list .section:before {
  position: absolute;
  left: 39%;
  top: 10%;
  transform: translateX(-50%);
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #003953;
  }
  .timecourse__list .section .date {
    position: relative;
    flex: 0 0 100px;
    /* padding-left: 30px; */
    max-width: 100px;
    /* color: #4c5051; */
    text-align: right;
    color: rgb(77,81,82);
    /* font-size: 26px; */
    letter-spacing: 1.3px;
  }
  .timecourse__list .section .date span{
  /* display: block; */
  /* margin-left:10px; */
  /* padding-left:7px; */
  }
  .timecourse__list .section .name {
    flex: 1 0 40%;
    margin: 0 0 0 30px;
    /* color: #626769 */
    color: rgb(77,81,82);
    /* font-size: 26px; */
    letter-spacing: 1.3px;;
  }
  .btn {
    display: flex;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    position: relative;
    left: 45%;
    margin-top: 15px;
  }
  .btn-primary {
  background-color: #00669a;
  color: #fff;
  /* transition: all 0.3s; */
  }
  .btn-primary:hover {
  background-color: #003953;
  color: #fff;
  }


  /* @media (min-width: 992px) {
    .timecourse__list .section {
    justify-content: center;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    }
    .timecourse__list .section .date {
    flex: 0 0 25%;
    }
    .timecourse__list .section .name {
    margin: 0 8px 0 8px;
    }
    .timecourse__list:before {
    display: none;
    }
    .timecourse__list .section:before {
    display: none;
    }
    .btn {
    padding: 8px 5px;
    font-size: 14px;
    }
  } */
  @media (min-width:768px) {
    .timecourse {
      position: relative;
      padding: 0;
      margin: 0;
      top:-50px;
  }
}
  @media (min-width: 992px) {
    .timecourse .container{
      width: 970px;
      /* margin-top: -379px; */
      /* margin-bottom: 100px; */
      /* z-index: 10; */
    }
    .timecourse .title {
    position: relative;
    margin-bottom: 70px;
    /* margin: 30px 0; */
    /* font-size: 36px; */
    text-align: center;
    font-weight: 700;
    color: #003953;
    /* padding-bottom: 5px;
    border-bottom: 2px solid red; */
  }
    .timecourse .title:after {
    position: absolute;
    content: '';
    left: 50%;
    top: calc(100% + 20px);
    transform: translateX(-50%);
    width: 53px;
    height: 2px;
    background-color: rgb(153, 51, 0);
  }
  .timecourse__list {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    }
    .timecourse__list:before {
    position: absolute;
    left: 33%;
    transform: translateX(-50%);
    content: '';
    width: 1px;
    height: 100%;
    background-color: #b3b7b9;
    }
    .timecourse__list .section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0 10px 40px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    }
    .timecourse__list .section:before {
    position: absolute;
    left: 33%;
    top: 40%;
    transform: translateX(-50%);
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #003953;
    }
    .timecourse__list .section .date {
    position: relative;
    flex: 0 0 200px;
    /* padding-left: 30px; */
    max-width: 200px;
    color: #4c5051;
    font-size: 26px;
    /* text-align: right; */
    }
    .timecourse__list .section .date span{
    display: block;
    /* margin-left:10px; */
    /* padding-left:7px; */
    }
    .timecourse__list .section .name {
    flex: 0 0 40%;
    margin: 0 20px 0 52px;
    color: #626769;
    font-size: 26px;
    }
    .btn {
    display: flex;
    left: 0%;
    margin-top: 0px;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    /* font-size: 18px; */
    font-size: 26px;
    letter-spacing: 0.9px
    }
    .btn-primary {
    background-color: #00669a;
    color: #fff;
    /* transition: all 0.3s; */
    }
    .btn-primary:hover {
    background-color: #003953;
    color: #fff;
    }
  }




  .clearfix:after {
    display: table;
    content: '';
    clear: both;
  }

  .footer span{
    display: block;
    color:rgb(113, 118, 120);
    letter-spacing: 0.8px;
    font-weight: bold;
  }



  .footer li {
    display: block;
    color:rgb(113, 118, 120);
  }



  .footer li a{
    display: block;
    color:rgb(113, 118, 120);
    text-decoration: none;
    margin-bottom: 12px;
  }

  .organizer{
    /* display: flex; */
    /* justify-content: space-around; */
    /* float: left; */
    /* margin-right:80px; */
  }


  .footer-menu{
    display: flex;
    /* position: relative; */
    justify-content: space-between;
  }

  /* .firstpage{
    float: left;
    margin-right:24px;
  }

  .submission{
    float: left;
    margin-right:24px;
  }

  .seminar{
    float: left;
    margin-right:24px;
  }

  .other{
    float: right;
  } */
  p{
    color: rgb(113, 118, 120);
    text-align: center;
    font-size: 10px;
  }
@media (min-width:992px){
  .footer-organizer{
    float: left;
    margin-right: 60px;
  }

  .footer-cb p{
    display: block;
    color: rgb(113, 118, 120);
    text-align:justify;
    /* text-align:center; */
    font-size: 10px
  }
}