/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */
* {
	box-sizing: border-box;
}
.wrap{
	/* margin: 0 auto; */
	position: relative;
	width: 100%;
	background: #ccc;
}
/* .info{
	width: 80%;
  	max-width: 1000px;
	margin: 0 auto;
} */

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

img {
	display: block;
}

.img-fulid {
	max-width: 100%;
	height:auto;
}

header {
	position: relative;
	z-index: 100;
	margin-bottom: 500px;
}

header .logo {
	display: inline-block;
	width: 196px;
}

.topheader{
	float: right;
	margin-top: 20px;
	/* margin-right: 20px; */
}

.topheader li{
	float: left;
	/* margin-right: 70px; */
	margin-left: 35px;
}

.topheader a{
	color: #ffffff;
	text-decoration: none;
	font-size: 16pt;
}

.banner{
	/* clear: both; */
	width: 100% ;
	height: 500px;
	position: absolute;
	top: 0;
	background: green;
	z-index: 10;
}

h1{
	margin-top: 254px;
	/* margin-left: 100px; */
	margin-right: 100px;
	text-align:left;
	font-size: 48pt;
	color: #ffffff;
	font-weight: bold;
	font-family: sans-serif;
}

h4{

	color: #ffffff;
	font-size: 18pt;
	letter-spacing:0.9;
}

.menu{
	position: relative;
	top: -115px;
    z-index: 100;
	opacity: 75%;
	/* text-shadow: 2px 2px 4px rgba(36, 37, 38, 0.2); */
}

.topmenu {
	padding: 34px 42px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 2px 2px 4px rgba(36, 37, 38, 0.2);
}


.topmenu li{
	float: left;
	margin-right: 38px;
}
/* .topmenu li:first-child{
	margin-left: 42px;
} */
.topmenu li:last-child{
	margin-right: 0px;
}

.topmenu a{
	display: block;
	color: rgb(90, 90, 90);
	text-decoration: none;
	letter-spacing: 0.72px;
	font-weight: 700;
}

.content-section span {
	display: block;
}