/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */
/* * {
	box-sizing: border-box;
} */
.wrap{
	/* margin: 0 auto; */
	position: relative;
	width: 100%;
	background: rgb(255, 255, 255);
}
/* .info{
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
} */

.container {
	width: 80%;
	max-width: 1000px;
	/* margin: 0 auto; */
	margin: 0 auto;
}

.clearfix:after {
	display: table;
	content: '';
	clear: both;
}

img {
	display: block;
}

.img-fulid {
	max-width: 100%;
	height:auto;
}

header {
	position: relative;
	z-index: 100;
	margin-bottom: 500px;
}

header .logo {
	display: inline-block;
	width: 196px;
}

.topheader{
	float: right;
	margin-top: 20px;
	/* margin-right: 20px; */
}

.topheader li{
	float: left;
	/* margin-right: 70px; */
	margin-left: 35px;
}

.topheader a{
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	letter-spacing: 0.64px; /* 沒反應*/
}

.banner{
	/* clear: both; */
	width: 100% ;
	height: 500px;
	position: absolute;
	top: 0;
	background:rgb(0, 0, 139);
	z-index: 10;
}

h1{
	margin-top: 254px;
	/* margin-left: 100px; */
	margin-right: 100px;
	text-align:left;
	font-size: 48px;
	color: #ffffff;
	font-weight: bold;
	font-family: sans-serif;
}

h4{
	color: #ffffff;
	font-size: 18px;
	letter-spacing:0.9;
}

.menu{
	position: relative;
	top: -115px;
    z-index: 100;
	opacity: 75%;
	/* text-shadow: 2px 2px 4px rgba(36, 37, 38, 0.2); */
}

.topmenu {
	padding: 34px 42px;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 2px 2px 4px rgba(36, 37, 38, 0.2);
}


.topmenu li{
	float: left;
	margin-right: 38px;
}
/* .topmenu li:first-child{
	margin-left: 42px;
} */
.topmenu li:last-child{
	margin-right: 0px;
}

.topmenu a{
	display: block;
	color: rgb(90, 90, 90);
	text-decoration: none;
	letter-spacing: 0.72px;
	font-weight: 700;
}

.content .container h2{
	text-align: center;
	margin-top: -50px;/* 要距離menu 100px*/
	letter-spacing: 1.8px;
	color: rgb(0,60,84);
	font-size: 36px;
	font-family: sans-serif;/* 字型之後要改 */
	font-weight: bold;
	/* border-bottom: 50px solid rgb(153, 51, 0); */
}

.content .container .row{
	float: left;
	column-width: 332px;
}

#row1{
	border-left: 1px solid rgb(159, 162, 163);
}

#row2{
	border-left: 1px solid rgb(159, 162, 163);
}

#row3{
	border-left: 1px solid rgb(159, 162, 163);
	border-right: 1px solid rgb(159, 162, 163);
}

.content-section{
	margin-left: 20px;

}

.content-section h3{
	/* float:left; */
	padding-top: 30px;
	color: rgb(77,81,82);
	letter-spacing: 1.3px;
	font-size: 26pt;
	font-weight: bold;
	font-family:serif;/*字形*/
}

.content-section .position{
	/* float:left; */
	color:rgb(0, 102, 153);
	font-size:16px;
	font-family:serif;/*字形*/
}

.content-section span {
	display: block;

	color: rgb(77,81,82);
	font-size: 20px;
	letter-spacing: 1.05px;
	font-family: serif;/*字形之後要改*/
	margin-top: 20px;
	/* text-align: left; */
}






.context h2{
	text-align: center;
	margin-top: 800px;
	letter-spacing: 1.8px;
	color: rgb(0,60,84);
	font-size: 36px;
	font-family: sans-serif;/* 字型之後要改 */
	font-weight: bold;
}


#send_pwd{
	font-size: 24px;
	color: white;
	border-radius: 15px;
	background: rgb(0, 102, 153);
	position:relative;
	left:50%;
	width: 281pt;
	Height: 66pt;
 }







.footer{
	/* display: block; */
	margin-top: 800px;
	/* clear: both; */
}

.footer span{
	display: block;
	color:rgb(113, 118, 120);
	letter-spacing: 0.8px;
	margin-bottom: 40px;
	font-weight: bold;
}

.footer li {
	display: block;
	color:rgb(113, 118, 120);
}



.footer li a{
	display: block;
	color:rgb(113, 118, 120);
	text-decoration: none;
	margin-bottom: 12px;
}

.organizer{
	float: left;
	margin-right:120px;
}

.firstpage{
	float: left;
	margin-right:68px;
}

.submission{
	float: left;
	margin-right:46px;
}

.seminar{
	float: left;
	margin-right:88px;

}

.other{
	float: left;
}

